In [2]:
import psycopg2
import pandas as pd

In [4]:
import db.db_access as access

In [9]:
GET_COMPANY = 'SELECT * FROM maincompany'



class psql_db_gcp_connector(object):
    def __init__(self):
        self.host, self.port, self.database, self.user, self.password = access.postgre_access_google_cloud()

    def get_psql_context(self):
        cnx = psycopg2.connect(host=self.host, port=self.port, database=self.database, user=self.user, password=self.password)
        return cnx

    def get_company(self):
        cnx = self.get_psql_context()
        cur = cnx.cursor()
        cur.execute(GET_COMPANY)
        result = cur.fetchall()
        result = pd.DataFrame.from_records(result, columns=[x[0] for x in cur.description])
        return result

In [14]:
GET_COMPANY = 'SELECT * FROM maincompany'



class psql_db_do_connector(object):
    def __init__(self):
        self.host, self.port, self.database, self.user, self.password = access.postgre_access_digital_ocean()

    def get_psql_context(self):
        cnx = psycopg2.connect(host=self.host, port=self.port, database=self.database, user=self.user, password=self.password)
        return cnx

    def get_company(self):
        cnx = self.get_psql_context()
        cur = cnx.cursor()
        cur.execute(GET_COMPANY)
        result = cur.fetchall()
        result = pd.DataFrame.from_records(result, columns=[x[0] for x in cur.description])
        return result

In [15]:
psql_db_gcp = psql_db_gcp_connector()

company_google = psql_db_gcp.get_company()
company_google

,id,name,date,ticker,active
0,547,1-800-flowers.com inc-cl a,2020-05-15 13:41:10.350521+00:00,FLWS US,True
1,548,500.com ltd-class a-adr,2020-05-15 13:41:10.350521+00:00,WBAI US,False
2,549,aaron's inc,2020-05-15 13:41:10.350521+00:00,AAN US,True
3,550,abercrombie & fitch co-cl a,2020-05-15 13:41:10.350521+00:00,ANF US,True
4,551,activision blizzard inc,2020-05-15 13:41:10.350521+00:00,ATVI US,True
...,...,...,...,...,...
521,26,J & J Snack Foods Corp,2020-04-27 10:43:30.380639+00:00,JJSF US,True
522,15,Hennes & Mauritz AB,2019-07-20 03:26:46.438209+00:00,HMB SS,True
523,11,Debenhams plc,2019-07-20 02:12:22.801180+00:00,DBNHF US,True
524,2,Marks and Spencers,2019-06-13 12:55:03.325831+00:00,MKS LN,True
525,31,Helen of Troy Limited,2020-04-27 11:55:13.604688+00:00,HELE US,False

In [20]:
psql_db_do = psql_db_do_connector()

company_digital = psql_db_do.get_company()
company_digital

    id                            name                             date
0   24                        ASOS plc 2019-07-20 04:39:18.757590+00:00
1    4                        eBay Inc 2019-06-24 19:55:04.754280+00:00
2   17                      Boohoo.com 2019-07-20 03:48:40.913553+00:00
3   19                       Ocado Plc 2019-07-20 04:24:36.370029+00:00
4   13                        Etsy Inc 2019-07-20 03:08:24.289222+00:00
5    5            Booking Holdings Inc 2019-07-14 10:48:13.978259+00:00
6    9                 Nextdecade Corp 2019-07-18 03:35:18.656153+00:00
7   18           Thomas Cook Group plc 2019-07-20 03:53:10.674595+00:00
8   23             Character Group PLC 2019-07-20 04:37:59.801856+00:00
9   22             GO Outdoors Limited 2019-07-20 04:37:08.159656+00:00
10  21       GEAR4MUSIC (HOLDINGS) PLC 2019-07-20 04:35:05.084371+00:00
11  20        Phoenix Asset Management 2019-07-20 04:26:26.466475+00:00
12  16                       Redbubble 2019-07-20 03:34:57.095537+00:00
13  15             Hennes & Mauritz AB 2019-07-20 03:26:46.438209+00:00
14  14                      Zalando SE 2019-07-20 03:21:08.758421+00:00
15  12              TJX Companies, Inc 2019-07-20 02:16:51.437397+00:00
16  11                   Debenhams plc 2019-07-20 02:12:22.801180+00:00
17  10                Urban Outfitters 2019-07-20 01:54:48.088399+00:00
18   8                  Home Depot Inc 2019-07-16 08:05:56.941665+00:00
19   7                   Nordstrom Inc 2019-07-14 11:02:25.045595+00:00
20   6                     Wayfair Inc 2019-07-14 10:54:04.341865+00:00
21   3                         Gap Inc 2019-06-24 19:50:54.444211+00:00
22   2              Marks and Spencers 2019-06-13 12:55:03.325831+00:00
23  25                        Gaia Inc 2020-04-27 10:39:46.326450+00:00
24  26          J & J Snack Foods Corp 2020-04-27 10:43:30.380639+00:00
25  27                AutoNation, Inc. 2020-04-27 11:02:20.849251+00:00
26  28                GNC Holdings Inc 2020-04-27 11:16:17.173672+00:00
27  29  Capstar Financial Holdings Inc 2020-04-27 11:30:29.117025+00:00
28  30           Helen of Troy Limited 2020-04-27 11:46:12.229763+00:00
29  31           Helen of Troy Limited 2020-04-27 11:55:13.604688+00:00